.createnft-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  /* height: 70vh; */
  align-items: center;
  /* color: white; */
}

.createnft-comp h1 {
  margin-top: 1rem;

  font-size: 2.1rem;
  font-weight: 600;
}

.createnft-form form {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
  margin-top: 10px;
}

.createnft-form form input {
  font-size: 1.1rem;
  height: 40px;
  padding: 10px;
  /* outline-color: rgb(0, 0, 0);
  outline-width: 0.1px;
  outline-style: dashed; */
}
.createnft-form form input:focus {
  outline-style: solid;
}

.checkbox {
  outline-width: 0px;
}
.createnft-form form label {
  font-size: 1.1rem;
  font-weight: 600;
}

.checkbox-cont {
  display: flex;
  flex-direction: row;
}

.checkbox-cont input {
  outline-width: 0px;
}
